#!/bin/sh

# Setup rules command prefixs
cmd="ipfw -q add"
extif="igb0"         # interface name of interface attached to Internet.
intif="bridge0"      # interface name of interface attached to LAN.
ks="keep-state"      # Laziness

# Flush out all rules and start fresh.
/sbin/ipfw -q flush
/sbin/ipfw -q table all flush

# Setup port forwarding for the NAT instance
ipfw -q nat 1 config if $extif same_ports unreg_only reset \
                     redirect_port tcp 192.168.4.6:80 80 \
                     redirect_port tcp 192.168.4.6:11002 11002


# Allow anything within the LAN - interface with heaviest traffic shall come first.
$cmd 10 allow ip from any to any via $intif
$cmd 20 allow ip from any to any via lo0

# Catch spoofing from outside.
$cmd 70 deny ip from any to any not antispoof via $extif

# NAT rule for incoming packets - IPv4 only, IPv6 does not work with NAT.
$cmd 100 nat 1 ip4 from any to any in recv $extif
$cmd 101 check-state

# Rules for outgoing traffic - allow everything that is not explicitely denied.
$cmd 1000 deny ip from not me to any 25,53 out xmit $extif
$cmd 1001 deny ip from any to any 5353 out xmit $extif

# Allow all other outgoing connections, i.e. skip processing to the outbound NAT rule #10000
$cmd 2000 skipto 10000 tcp from any to any out xmit $extif setup $ks
$cmd 2001 skipto 10000 udp from any to any out xmit $extif $ks

# Rules for incoming traffic to host machine - deny everything that is not explicitely allowed.
# This rule lets ssh in on non stardard port for this host. 
#$cmd 5000 allow tcp from any to me (your port to ssh here) in recv $extif setup $ks

# Rules for allowing packets to services which are listening on a LAN interface behind the NAT
$cmd 6000 skipto 10000 tcp from any to any 80 in recv $extif setup $ks
$cmd 6001 skipto 10000 tcp from any to any 11002 in recv $extif $ks

# Catch any other tcp/udp packet, but don't touch gre, esp, icmp, etc...
$cmd 9998 deny tcp from any to any via $extif
$cmd 9999 deny udp from any to any via $extif

# NAT rule for outgoing packets.
$cmd 10000 nat 1 ip4 from any to any out xmit $extif

# Allow anything else - just in case ipfw is not configured as open firewall.
$cmd 65534 allow ip from any to any
